<main class="authorization">
    <form>
        <h2>Вход</h2>
        {{> Input id="login" name="login" type="" placeholder="Логин"}}
        {{> Input id="password" name="password" type="" placeholder="Пароль"}}
        {{> Button id="" text="Авторизоваться"}}
        {{> Link id="createAccount" href="#" text="Нет аккаунта?" data-page="registration"}}
    </form>
</main>
