<div className="app">
    <h1>Регистрация</h1>
    {{> Input id="email" type="" placeholder="Почта"}}
    {{> Input id="login" type="" placeholder="Логин"}}
    {{> Input id="first_name" type="" placeholder="Имя"}}
    {{> Input id="second_name" type="" placeholder="Фамилия"}}
    {{> Input id="phone" type="" placeholder="Телефон"}}
    {{> Input id="password" type="" placeholder="Пароль"}}
    {{> Input id="password_check" type="" placeholder="Пароль (еще раз)"}}
    {{> Button id="" text="Зарегистрироваться"}}
    {{> Link id="signIn" href="#" text="Войти?" data-page="authorization"}}
</div>