<main class="profile-settings">
    <div id="avatar" name="avatar" class="img-centered">
        {{> Image size="120px" src='/static/icons/avatar.svg' name="avatar"}}
    </div>
    <h2>Валентина</h2>
    <div>
        {{> Field id="email" name="email" label="Почта" value="mail@yandex.ru" readonly=true}}
        {{> Field id="login" name="login" label="Логин" value="valyatar" readonly=true}}
        {{> Field id="first_name" name="first_name" label="Имя" value="Valya" readonly=true}}
        {{> Field id="second_name" name="second_name" label="Фамилия" value="Tarasova" readonly=true}}
        {{> Field id="display_name" name="display_name" label="Имя в чате" value="valya" readonly=true}}
        {{> Field id="phone" name="phone" label="Телефон" value="88008888888" readonly=true}}
    </div>

    <div class="profile-settings__actions">
        {{> Link id="" href="#" text="Изменить данные" data-page=""}}
        {{> Link id="changePassword" href="#" text="Изменить пароль" data-page="changePassword"}}
        {{> Link id="" href="#" text="Выйти" data-page=""}}
    </div>
</main>
