<div className="app">
    <div id="avatar" class="img-centered">
        {{> Image size="120px"}}
    </div>
    <h1>Валентина</h1>
    {{> Field id="email" label="Почта" value="mail@yandex.ru"}}
</div>