.profile-settings {
  position: relative;
  width: 100%;

  .profile-settings__left {
    align-content: center;
    border-right: 1px solid #e5e5e5;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 64px;
  }

  .profile-settings__right {
    height: 100%;
    margin-left: 64px;
    padding: 0 20px;
  }

    .profile-settings__actions {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 10px 0;
    }
}
