.footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid var(--secondary-color);
    display: flex;
    justify-content: space-around;
}

.footer-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}
