<div class="change-pwd">
    <div id="avatar" name="avatar" class="img-centered">
        {{> Image size="120px" src='../static/icons/avatar.svg' name="avatar"}}
    </div>
    <div>
        {{> Field id="oldPassword" name="oldPassword" label="Старый пароль" value="***"}}
        {{> Field id="newPassword" name="newPassword" label="Новый пароль" value="***"}}
        {{> Field id="repeatNewPassword" name="repeatNewPassword" label="Повторите новый пароль" value="***"}}
    </div>

    <div class="change-pwd__actions">
        {{> Button id="" text="Сохранить"}}
    </div>
</div>
