.img-circle{
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px #e1e5ea;
    display: flex;
    height: var(--size, 120px);
    justify-content: center;
    overflow: hidden;
    width: var(--size, 120px);
}

.img-circle > img{
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.img-centered {
    display: flex;
    justify-content: center;
}
